
h1 {
  color: DarkSalmon;
  font-family: 'Indie Flower';
  text-align: center;
}

p {
  
  color: DarkOliveGreen;
  font-family: 'Macondo';
  text-align:Left;
  padding-left: 50px;
}

h2 {
  padding: 10px;
  font-family: 'Indie Flower';
  color:DarkOliveGreen;
  text-align:center;
}

.smaller-image {
  width: 300px;
}

.black-border {
  border-color: black;
  border-width: 10px;
  border-style: solid;
  border-radius: 200px;
}

body {
background-color: BlanchedAlmond;
background-size:cover;
}

.ul {
  list-style-type: disc;
  color: Lime;
  font-family: Swanky and Moo Moo;
  text-align: left;
  padding: 10px;
}


.wrap {
  max-width: 900px;
  
}


h4 {
   color:DarkOliveGreen;
  font-family: 'Indie Flower';
  padding: 10px;
 text-align: center;
}

h3 {
 color:DarkOliveGreen; 
 font-family:'Indie Flower';
 text-align: center;
}
.nerd {
  color:DarkViolet;
}

h6 {
  font-family: 'Swanky And Moo Moo';
  color: DarkSalmon;
  padding:10px;
}
.float{
  float:right;
}
.nerdical {
  font-family: 'Swanky And Moo Moo';
  color: DarkOliveGreen;
  font-size: 25px;
  
}


