
h1 {
  color: DarkSalmon;
  font-family: 'Indie Flower';
  text-align: center;
}

p {
  
  color: darkturquoise;
  font-family: 'Macondo';
  text-align:center;
  padding-left: 20px;
}

h2 {
  padding: 10px;
  color: white;
  font-family: 'Indie Flower';
}

.smaller-image {
  width: 300px;
}

.black-border {
  border-color: black;
  border-width: 10px;
  border-style: solid;
  border-radius: 200px;
}

body {
background-image: url("https://c1.staticflickr.com/9/8028/7610224626_0d46a90e19.jpg");
background-repeat:no-repeat;
background-position:center top;
background-size:cover;
/*background-image: url("https://");*/

}

.ul {
  list-style-type: disc;
  color: Lime;
  font-family: Swanky and Moo Moo;
  text-align: left;
  padding: 10px;
}



h6 {
  font-family: Swanky and Moo Moo;
  text-align: center;
  color:black;
}

.wrap {
  max-width: 900px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

h4 {
   color:DarkViolet;
  font-family: 'Indie Flower';
  padding: 10px;
 
}

h3 {
 color:royalblue; 
 font-family:'Indie Flower';
}
.nerd {
  color:DarkViolet;
}
.col-md-3{
  float:right;
}
  

