
h1 {
  color: black;
  background-color: LightSlateGrey;
  font-family: 'Indie Flower';
  text-align: center;
}

p {
  padding: 10px;
  color: Maroon;
  text-align: center;
  font-family: 'Macondo';
}

h2 {
  padding: 10px;
  color: black;
  font-family: 'Indie Flower';
}

.smaller-image {
  width: 300px;
}

.black-border {
  border-color: black;
  border-width: 10px;
  border-style: solid;
  border-radius: 200px;
}

body {
background-image: url("https://cdn.pixabay.com/photo/2014/04/03/11/51/batman-312342_960_720.png");

}

.ul {
  list-style-type: disc;
  color: Lime;
  font-family: Swanky and Moo Moo;
  text-align: left;
  padding: 10px;
}



h6 {
  font-family: Swanky and Moo Moo;
  text-align: center;
  color:black;
}

.wrap {
  max-width: 900px;
}

img {
  float: right;
}

p::first-letter {
  font-size: xx-large;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

.color {
  background-color: #333;
  
}

.li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

li a:hover {
  background-color: LightSlateGrey;
}

.float {
  float: left;
}

.right-align {
  text-align: right;
}

a:link,
a:visited {
  background-color: #333;
  color: white;
  border: 2px solid #333;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
}

a:hover,
a:active {
  background-color: #8c8c8c;
  color: white;
}

h4 {
    color: black;
  background-color: LightSlateGrey;
  font-family: 'Indie Flower';
  
}
